/* Services.css */

.services-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: green;
  }
  
  .services-description { /* This is the description of the services */
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .services-list-container { /* This is the container of the services */
    text-align: left;
  }
  
  .services-list { /* This is the list of the services */
    list-style-type: none;
    padding: 0;
  }
  
  .services-list li { 
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .services-list li:hover { /* This is the hover effect of the services */
    background-color: #e8f0fe;
  }
  
  /* Add additional styles as needed */
  .services-body {
    margin: 0;
    padding: 0;
    background-image: url('./src/components/CarouselImage/p22.jpg'); 
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: center;
    font-family: 'Arial', sans-serif;
  }